/* reset */

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: 1rem;
  margin: 0;
}

html {
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-size: clamp(16px, 2.4vw, 21px);
}

body {
  background: #1e0808;
  color: #fff;
  line-height: 1.5;
}

#wrapper {
  width: 100%;
}

main {
  background: center / contain url("images/pagebackground.jpg");
  box-shadow: 0 0 0.2em 0.2em #1112;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 40rem;
  padding: 1.5rem 1rem;
}
