/* reset */

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: 1rem;
  margin: 0;
}

html {
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-size: clamp(16px, 2.4vw, 21px);
}

body {
  background: #1e0808;
  color: #fff;
  line-height: 1.5;
}


@media (max-width: 600px) {
  header #cards {
    top: 0.5rem;
  }
}

header #cards {
  background: #0000;
  position: absolute;
  width: 4rem;
}

header #cards button {
  background: transparent;
  border: none;
  height: 2rem;
  padding: 0;
  position: absolute;
  transition: transform 0.2s;
}

header #cards button:first-child {
  left: 0;
  transform: translateY(-0.5rem) rotate(-10deg);
}

header #cards button:last-child {
  right: 0;
  transform: translateY(-0.5rem) rotate(10deg);
}

header #cards.hunt button:first-child {
  z-index: 1;
}

header #cards.hunt button:last-child {
  z-index: 0;
}

header #cards.club button:first-child {
  z-index: 0;
}

header #cards.club button:last-child {
  z-index: 1;
}

header #cards.hunt:hover button:first-child {
  transform: rotate(0);
  z-index: 0;
}

header #cards.hunt:hover button:last-child {
  transform: translateY(-0.5rem);
  z-index: 1;
}

header #cards.club:hover button:first-child {
  transform: translateY(-0.5rem);
  z-index: 1;
}

header #cards.club:hover button:last-child {
  transform: rotate(0);
  z-index: 0;
}

header #cards button img {
  height: 2.5rem;
  width: 2.5rem;
}

nav {
  background: repeat-x center / auto 100% url("images/headerbackground.jpg");
  box-shadow: 0 0 0.3em 0.3em #1115;
  position: relative;
  top: 1em;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
}

#wrapper {
  width: 100%;
}

main {
  background: center / contain url("images/pagebackground.jpg");
  box-shadow: 0 0 0.2em 0.2em #1112;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 40rem;
  padding: 1.5rem 1rem;
}
